<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="is.fb01.tud.university.mobilesurveystud" >

    <!--<uses-permission android:name="android.permission.BIND_ACCESSIBILITY_SERVICE" /> -->

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
   <!--  <uses-permission android:name="android.permission.NETWORK_PROVIDER" /> -->


    <application
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >


        <activity
            android:name=".FrontEnd.MainActivity"
            android:noHistory="true"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".FrontEnd.DialogActivity"
            android:showOnLockScreen="true"
            android:noHistory="true"
            android:excludeFromRecents="true"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
        </activity>

        <receiver android:name=".BackEnd.Receiver.BootCompletedReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <!-- DEPREACTED
        <receiver android:name=".BackEnd.Receiver.GPSToggledReceiver">
            <intent-filter>
                <action android:name="android.location.PROVIDERS_CHANGED" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>
        -->

        <service android:name=".BackEnd.Service.MainService" >
        </service>

        <service android:name=".BackEnd.Service.EventService.TouchDetectionService" >
        </service>

        <service android:name=".BackEnd.Service.EventService.ButtonDetectionService" >
        </service>

        <service android:name=".BackEnd.Service.HandlerService.SoundDetectionService" >
        </service>

        <service android:name=".BackEnd.Service.HandlerService.PhoneDetectionService" >
        </service>

        <service android:name=".BackEnd.Service.EventService.GPSDetectionService" >
        </service>

        <service android:name=".BackEnd.Service.SensorService.AccelerometerService" >
        </service>

        <service android:name=".BackEnd.Service.SensorService.GyroscopeService" >
        </service>

    </application>

</manifest>
